.main {
  background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
}

.col_4 {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
transition: all ease-in-out 0.5s;
}
.card:hover{
    transform: scale(1.05);

}

.items_container {
  padding: 80px;
}

.usaimgflag {
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.card-title {
  margin: 15px;
}

.usacollege {
  padding: 80px 150px 0 150px;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.usacollege p {
  text-wrap: wrap;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .col_4 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(1, 1fr) !important ;
    row-gap: 20px;
  }
}

/* @media screen and (max-width:700px) {
    .col_4{
        display: grid ;
        column-gap: 20px ;
        grid-template-columns: repeat(2,1fr) ;
        row-gap: 20px;
    }
} */

@media screen and (max-width: 900px) {
  .col_4 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
